
header {
    height: 60px;
}

header nav {
    padding: 30px;
}

main {
    height: calc(100vh - 60px);
    display: flex;
    overflow-y: auto;
}
    
main > aside {
    width: 150px;
}
    
main > section {
    width: calc(100% - 150px);
    overflow-y: auto;
}

#small-logo {
    width: 45px;
}

.my-btn {
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 0 10px;
    text-decoration: none;
    list-style: none;
    color: white;
}


/* COLORS */

.my-bg-lightgrey {
    background-color: #E5E5E5;
}

/* MAIN */

main .card {
    margin: 20px 0;
}

/* ASIDE */


main aside {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

aside ul li {
    font-size: 1.1rem;
}

aside #stats-icon {
    margin-left: 5px;
}

aside ul > li:hover {
    background-color: gray;
}


/* RESPONSIVE */

@media (max-width: 992px) {
    main > aside {
        width: calc(150px / 2);;
    }

    main > section {
        width: calc(100% - (150px / 2));
    }
  }

