
/* GENERAL */

header {
    height: 60px;
}

header nav {
    padding: 30px;
}

main {
    height: calc(100vh - 60px);
    display: flex;
    overflow-y: auto;
}
    
main > aside {
    width: 150px;
}
    
main > section {
    width: calc(100% - 150px);
    overflow-y: auto;
}

/* HEADER */

#small-logo {
    width: 45px;
}

/* COLORS */

.my-bg-lightgrey {
    background-color: #E5E5E5;
}

.my-bg-darktransparent {
    background-color:rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

/* MAIN */

main .card {
    margin: 20px 0;
}

.my-action-btn {
    border: 1px solid grey;
    background-color: white;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 2px;
}

.my-action-btn i {
    color: grey;
}

.my-action-btn:hover {
    background-color: lightgray;
}

/* Main table */

.table img {
    width: 30px;
    border-radius: 50%;
}

table tr td:nth-child(1) {
    width: 60%;
}

tr > td:not(:first-child) {
    text-align: center;
}

/* ASIDE */

main aside {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

aside ul li {
    font-size: 1.1rem;
}

aside #stats-icon {
    margin-left: 5px;
}

aside ul > li:hover {
    background-color: gray;
}

/* RESPONSIVE */

@media screen and (max-width:768px) {
    table tr td:nth-child(2),
    table tr td:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    main > aside {
        width: calc(150px / 2);;
    }

    main > section {
        width: calc(100% - (150px / 2));
    }

    table tr td:nth-child(1) {
        width: 35%;
    }
  }

@media screen and (max-width: 1200px)  {
    main section .canvas-res {
        min-width: 100%;
    }
}

  

