
header {
    height: 50px;
}

main {
    height: calc(100vh - 50px);
    display: flex;
    overflow-y: auto;
}
    
main > aside {
    width: 150px;
    background-color: black;
    color: white;
}
    
main > section {
    width: calc(100% - 150px);
    background-color:#141922;
    overflow-y: auto;
}



/* MAIN */

main .card {
    margin: 20px 0;
}